<div class="bg_image">
    <div class="columns is-centered">
        <h1 class="index-title"> Welcome to Go-G</h1>
    </div>
    <div class="columns is-centered">
        <p class="index-text"> Your one stop shop for locally sourced, resonable priced, eco-friendly goods.</p>
    </div>
</div>