<div class="bg_image">
    <div class="columns is-centered">
        <h1 class="about-title">Go-G is a eco-friendly online marketplace</h1>
    </div>
    <div class="columns is-centered">
        <p class="about-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla augue nec porta laoreet. Nulla auctor posuere vulputate. Donec eget tincidunt libero. Phasellus fermentum velit nec molestie accumsan. Morbi venenatis consequat malesuada. Donec est odio, ultrices eleifend risus quis, iaculis tempus leo. Proin aliquam mattis ipsum vitae dignissim. Mauris lobortis nec elit sed faucibus. Ut venenatis mauris tempus accumsan eleifend. Phasellus condimentum arcu vel dui feugiat scelerisque. Sed fermentum, lectus vel suscipit egestas, urna metus eleifend mauris, a ornare nisl felis sed ipsum. Ut bibendum molestie velit, non luctus arcu cursus vulputate.

            Sed varius tincidunt fermentum. Nam fermentum rutrum libero, vitae volutpat diam maximus eget. Nullam congue, erat eu lacinia dictum, est neque rutrum ante, scelerisque fringilla justo mauris in mauris. Fusce commodo neque sed lectus fermentum ullamcorper. Ut ac bibendum nulla. Etiam iaculis euismod erat varius ultricies. Quisque convallis rutrum enim eu lobortis.</p>
    </div>
    <div class="columns is-centered">
        <p class="about-text"> Nunc dapibus hendrerit lobortis. Praesent ullamcorper volutpat dolor ut laoreet. Morbi velit diam, dapibus sed maximus id, suscipit eget enim. Aenean interdum pulvinar ipsum, eget gravida tellus rutrum nec. Sed eu mi euismod, placerat arcu tristique, rutrum nibh. Etiam malesuada dolor leo. Pellentesque sagittis rhoncus ex, at tempor massa euismod nec. Ut id vulputate mi, eget tincidunt massa. Vestibulum ut turpis non augue vulputate dignissim. Phasellus molestie enim nunc, eu molestie enim gravida vel. Fusce vel nisi consectetur, elementum orci quis, malesuada sem.</p>
    </div>
</div>